<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<form action="api/shorturl/new" method="post">
    <div class="label"><label>URL Shortner</label></div>
    <input type="text" name="url" id="url_input" placeholder="http(s)://www.example.com">
    <button type="submit">Shorten!</button>
</form>
</body>
</html>
